/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #252833;
}

/* register */

.container {
    width: 35rem;
    padding: 3rem;
    border: .2rem solid #383F52;
    border-radius: 1rem;
    background-color: #2E3744;
}

/* Header */

.header {
    margin-bottom: 3rem;
}

.header__title {
    color: #ACBAE1;
}

/* Form */

.form__fieldset {
    border: 0;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group__label  {
    display: block;
    color:#8992B5;
    margin-bottom: 1rem;
}

.form-group__input {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: .5rem;
    border: 0;
    border-radius: .2rem;
    background-repeat: no-repeat;
    background-position: right 1rem bottom 1em;
}

.form-group__error-message {
    color: #DA5A5B;
    font-size: .9rem;
}

.form-group__input--error {    
    background-image: url("images/error-icon.svg");
    border: 3px solid #DA5A5B;
}

.form-group__input--success {    
    background-image: url("images/success-icon.svg");
    border: 3px solid #52E068;
}

.form-group__button {
    padding: 1rem;    
    width: 100%;
    font-size: 1rem;
    color: white;
    border: 2px solid #07070b;
    border-radius: .2rem;
    background-color: #6C62FE;
}



